h1	{
	color: #0052cc;
	margin-left: 15px;
}

h2	{
	color: #4db8ff;
	margin-left: 15px;
}

#nav {
	border: 3px  dashed  #000000;
	margin: 10px 5px 15px 20px;
	padding: 10px 10px 10px 10px;
}

#nav a	{
	text-decoration: none;
	color: #d1d1e0;
}

.recommended {
	font-family: Arial;
	margin-left: 15px;
}